body {
  height: 50vh;
}

.cardess-container {
    display: flex;
    gap: 20px; 
    margin-top: 30px;
  }
  
  .cardess {
    width: 300px;
    height: 300px;
    background-image: url('https://avatars.mds.yandex.net/get-altay/2930751/2a00000173f7877d97be5f1f0010547a2f73/XL');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-left: 35px;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
    }
  
    .card-text {
      position: absolute;
      bottom: 10px;
      left: 15px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
  }
  
  .img {
    width: 300px;
    height: 300px;
    background-image: url('https://chiefandsheriff.ru/media/571/57146.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
    }
  
    .text {
      position: absolute;
      bottom: 10px;
      left: 15px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
  }

  .img-2{
    width: 640px;
    height: 300px;
    background-image: url('https://www.rgo.ru/sites/default/files/styles/head_image_article/public/node/44382/izobrazhenie-viber-2021.jpg?itok=6-mZvZOm');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
    }
    .text-2{
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
  }

.cards-bottom{
  margin-top: 16px;
  margin-left: 19px;
  .img-3{
    width: 620px;
    height: 300px;
    background-image: url('https://cdn0.divan.ru/img/v1/MNLlJknOCpEexG5z1OyDjHmum85PmEKmJMIE7C5vltI/rs:fit:1920:1440:0:0/g:ce:0:0/bg:ffffff/q:85/czM6Ly9kaXZhbi93aWtpLWFydGljbGUvNDk5OTgzNy5qcGc.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-left: 20px;
    &:hover{
      transform: translateY(-10px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
        filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
    }
    .text-3{
      position: absolute;
      bottom: 10px;
      left: 15px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
  }
}

.img-4{
  width: 300px;
  height: 300px;
  background-image: url('https://www.smilegifts.ru/image/cache/catalog/img/2021/03.02/atm/01-600x600.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 20px;
  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
  }

  .text-4{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }
}


.img-5{
  width: 300px;
  height: 300px;
  background-image: url('https://www.belykrolik.ru/media/images/nastolnye-igry-2-4-let.width-800.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-left: 25px;

  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    filter: brightness(0.5) saturate(100%) hue-rotate(360deg);
  }

  .text-5{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }
}

.footer-local{
  background-color: #333333;
  height: 300px;


  .button-wit{
    button{
      margin-top: 30px;
      outline: none;
      border-radius: 50px;
      margin-left: 20px;
      background-color: #555555;
      color: white;
      padding: 10px;
      border: none;
      width: 350px;
      position: relative;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 500;
      color: #ffffff80;
      text-shadow: none;
      background: transparent;
      cursor: pointer;
      box-shadow: transparent;
      border: 1px solid #ffffff80;
      transition: 0.5s ease;
      user-select: none;

      &:hover,
      &:focus {
        color: #ffffff;
        background: #ff9900;
        border: 1px solid #ff9900;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 
          0 0 5px #ff9900, 
          0 0 20px #ff9900, 
          0 0 50px #ff9900,
          0 0 100px #ff9900;
      }
    
    }
    i{
      position: absolute;
      margin-top: 42px;
    left: 335px;
    font-size: 25px;
    }
  }


  .ul-lilocal{
    ul{
      list-style: none;
      margin-left: 100px;
      margin-top: 20px;
    }
    li{
      color: white;
      margin-top: 10px;
    }
  }

  .icons-local {
    margin-left: 160px;
    margin-top: 70px;
  
    i {
      margin-left: 20px;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      font-size: 20px; 
      color: white;
    }
  }
}

.confik{
  margin-top: 60px;
  margin-left: 50px;
  span{
    margin-left: 10px;
    cursor: pointer;
  }
  color: white;
}

.topButton {
  position: fixed;
  bottom: 90px;    
  right: 30px;      
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ff9900;
  z-index: 1000;
  cursor: pointer;
  font-size: 30px;
}
